Anna Mrukwa  
Makrokierunek sem. 6

In [1]:
import numpy as np
import math
from time import time
import pandas as pd

### Arrays preparation

In [2]:
int_arr_size = [800, 1600, 3200, 6400, 12800]
str_arr_size = [200, 400, 800, 1600, 3200]

In [3]:
int_arrs = []

for size in int_arr_size:
  x = np.random.choice(range(1000000), size, replace=False)
  int_arrs.append(x)

In [4]:
def check_if_sorted(arr):
  n = len(arr)
  i = 1
  is_sorted = 1
  while (i < n) & is_sorted:
    if arr[i - 1] > arr[i]:
      is_sorted = 0
      break
    i += 1
  return is_sorted

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
dictionary = pd.read_csv("/content/drive/My Drive/dictionary.txt")
# https://github.com/first20hours/google-10000-english/blob/master/20k.txt

In [7]:
dictionary.head()

   the
0   of
1  and
2   to
3    a
4   in

In [8]:
dictionary = dictionary.to_numpy().flatten()
dictionary.shape

(19999,)

In [9]:
dictionary[0:5]

array(['of', 'and', 'to', 'a', 'in'], dtype=object)

In [10]:
str_arrs = []

for size in str_arr_size:
  x = np.random.choice(dictionary, size, replace=False)
  str_arrs.append(x)

### Selection sort

In [11]:
def selection_sort(arr):
  t0 = time()
  element_no = arr.size
  for i in range(element_no):
    # find min index in unsorted part of the array
    min_idx = i
    for j in range(i, element_no):
      if arr[j] < arr[min_idx]:
        min_idx = j
    # swap the position of the first element in unsorted with the minimum
    arr[i], arr[min_idx] = arr[min_idx], arr[i]
  return arr, time() - t0

### Insertion sort

In [12]:
def insertion_sort(arr):
  t0 = time()
  element_no = arr.size
  for i in range(1, element_no): # because 0th element does not have predecessors
    element = arr[i]
    j = i -1
    while element < arr[j] and j >= 0:
      arr[j+1] = arr[j]
      j = j - 1
    arr[j+1] = element # because of the last decrement
  return arr, time() - t0

In [13]:
def binary_search(arr, item, high, low=0):
  while low <= high:
    mid = low + (high - low) // 2
    if item == arr[mid]:
      return mid
    if item > arr[mid]:
      low = mid + 1
    else:
      high = mid - 1
  return low # biggest smaller element


def binary_insertion_sort(arr):
  t0 = time()
  element_no = arr.size
  for i in range(1, element_no):
    element = arr[i]
    i = i - 1
    position = binary_search(arr, element, i)
    while (i >= position):
      arr[i+1] = arr[i]
      i = i -1
    arr[i+1] = element
  
  return arr, time() - t0

### Bubble sort

In [14]:
def bubble_sort_0(arr):
  t0 = time()
  element_no = arr.size -1
  for i in range(element_no):
    for j in range(element_no - 1):
      if arr[j] > arr[j+1]:
        arr[j], arr[j+1] = arr[j+1], arr[j]
  return arr, time() - t0

In [15]:
def bubble_sort_1(arr):
  t0 = time()
  max_idx = arr.size -1
  swapped = True
  while swapped:
    swapped = False
    for i in range(max_idx - 1): # cause last idx does not have successor
      if arr[i] > arr[i+1]:
        swapped = True
        arr[i], arr[i+1] = arr[i+1], arr[i]
  return arr, time() - t0

In [16]:
def cocktail_sort(arr):
  # no need to check first and last element more than once 
  t0 = time()
  lower = 0
  upper = arr.size -1
  swapped = True
  while lower <= upper and swapped:
    swapped = False
    for up in range(lower, upper):
      if arr[up] > arr[up+1]:
        swapped = True
        arr[up], arr[up+1] = arr[up+1], arr[up]
        upper = up
    if not swapped:
      break
    swapped = False
    for low in range(upper-1, lower-1, -1):
      if arr[low] > arr[low+1]:
        swapped = True
        arr[low], arr[low+1] = arr[low+1], arr[low]
        lower = low
  return arr, time() - t0

### Methods comparison

In [17]:
alg_names = ["Selection", "Insertion", "Binary Insertion", "Bubble", "Improved Bubble", "Cocktail"]

In [18]:
def check_arr_results(arr):
  methods = [selection_sort, insertion_sort, binary_insertion_sort, bubble_sort_0, bubble_sort_1, cocktail_sort]
  times = []
  for method in methods:
    sorted, t = method(arr)
    assert check_if_sorted(arr)
    times.append(t)
  return times

#### Integers

In [19]:
times_lists = []
for int_arr in int_arrs:
  times = check_arr_results(int_arr)
  times_lists.append(times)

In [20]:
keys = int_arr_size
values = times_lists
data = dict(zip(int_arr_size, values))
df = pd.DataFrame.from_dict(data)

In [21]:
df.index = alg_names
df

                     800       1600      3200       6400       12800
Selection         0.161974  0.860972  3.061273   4.882345  19.567100
Insertion         0.000595  0.009720  0.001979   0.002703   0.005494
Binary Insertion  0.006200  0.014012  0.028309   0.035440   0.083623
Bubble            0.424213  1.562189  7.511416  10.268354  41.305371
Improved Bubble   0.000372  0.000828  0.001628   0.001554   0.003308
Cocktail          0.000376  0.000848  0.001214   0.001601   0.003162

#### Strings

In [22]:
times_lists = []
for str_arr in str_arrs:
  times = check_arr_results(str_arr)
  times_lists.append(times)

In [23]:
keys = int_arr_size
values = times_lists
data = dict(zip(int_arr_size, values))
df = pd.DataFrame.from_dict(data)
df.index = alg_names
df

                     800       1600      3200      6400      12800
Selection         0.003782  0.020357  0.061228  0.260836  1.034213
Insertion         0.000065  0.000139  0.000278  0.000578  0.001327
Binary Insertion  0.000536  0.001178  0.002752  0.006171  0.014224
Bubble            0.008752  0.031888  0.128509  0.536348  2.139967
Improved Bubble   0.000049  0.000081  0.000159  0.000640  0.000650
Cocktail          0.000039  0.000079  0.000164  0.000410  0.000649